#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.BMI{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
   background: linear-gradient(100deg, black, rgb(44, 44, 44),rgb(110, 108, 108));
   border: none;
   border-radius: 30px;
   box-shadow: 0px 7px 10px  rgb(58, 58, 58);
  }
.input{
  padding: 7px;
  border: none;
  border-radius: 10px;
}
.input:focus {
  background-color: black;
  color: white; 
  outline: none; 
}
.btn{
  margin: 10px;
}